@model App_for_youtube.Models.URL

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Result", "YoutubeAppController", FormMethod.Post))
{
    <div class=" form-group">
        @Html.LabelFor(model => model.Url)
        @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
    </div>
    <button class="btn btn-dark" type="submit">Submit</button>
}
